{% extends "base.html" %}
{% block title %}ShopeFy | Contact{% endblock title %}
{% block content %}
<section id="hero">
  <div class="hero-container">
    <h3><strong>Hello !!! </strong>{{user.username}}</h3>
    <h1>Got Stuck ! Let us know about it</h1>
    <h2>We'll soon contact you</h2>
    {% comment %} <a href="/about" class="btn-get-started scrollto">Get Started</a> {% endcomment %}
  </div>
</section>
{% endblock content %}
{% block body %}

<h1 class="text-center">Contact Us</h1>
<div class="container mt-2">
    {% for message in messages%}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong></strong>{{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/contact" method="post">{%csrf_token%}
                <br>

                <label for="name">Full Name</label>
                <div class="form-group">
                  <input type="name" class="form-control" name="name" id="text" required>
                </div>

                <label for="email">Email</label>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" required>
                </div>

                <label for="pass1">How can i Help You?</label>
                <div class="form-group">
                  <textarea type="text" class="form-control" name="desc" id="desc" required></textarea>
                </div>

                <label for="pnumber">Phone Number</label>
                <div class="form-group">
                  <input type="number" class="form-control" name="pnumber" id="pnumber" required>
                </div>
                <br>
                <button type="submit" class="btn btn-dark">Submit</button>
                <br>
            
            
              </form>
        </div>
        <div class="col-md-3"></div>


    </div>
</div>

{% endblock body %}

